# Project exclude paths
/out/
/.idea
/src/Patika101/A7.java
/src/Patika101/D01TemelOperatoreKadar.java
/src/Patika101/D02KullanicidenVeriCekme.java
/src/Patika101/D12PatikaDevJava101Odev09KulaniciGirisi.java
/Patika101.iml
/Bartin
/src/Patika101/D13PatikaDevJava101Odev10SınıfGecmeDurumu.java
/src/Patika101/D17PatikaDevJava101Odev14UcakBiletiFiyatHesabi.java
/src/Patika101/D22PatikaDevJava101Odev17BolunenSayilarinOrt.java
/src/Patika101/D10IfElseSwitchCaseKullanimi.java
